* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
    padding: 40px 20px;
}

.wrapper {
    background: white;
    display: flex;
    max-width: 1200px;
    box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.15);
    margin: 0 auto;            /* ЧТОБЫ ОТЦЕНТРИРОВАТЬ КОНТЕНТ */
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding: 40px 0px 40px 0px
}

.my-photo {
    width: 370px;
}

.about-me-container {
    margin: 110px 90px
}

.contacts-container {
    margin: 60px 40px 0px 40px;
}

.contacts-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}

.contacts-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #555c67;
}

.contacts-link-type {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin: 55px 40px 0px 40px;
}

.tech-skill-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #eb650c;
} 

.tech-skills-text {
    color: rgb(209, 209, 209);
}

.soft-skills-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    margin: 52px 0px 20px 0px;
}

.soft-skills-container {
    margin: 55px 40px 0px 40px;
}

.soft-skills-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #eb650c;
} 

.soft-skills-text {
    color: rgb(209, 209, 209);
}

.profession {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
} 

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 25px;
    color: #5c5c5c
}

.main-info-conainer {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 55px;
}


.projects-link {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #5c5c5c;
}

.dots {
    color: #bebebe;
    font-weight: 100;
}

.projects-item {
    font-weight: 700;
    margin-left: 17px;
}

.projects-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 58px 0px 5px 0px;
}

.profession-company {
    color: #eb650c;
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divider {
    color: black;
    margin: 0px 8px;
}

.profession-duties {
    margin-top: 14px;
}

.profession-duties-item  {
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
} 

.profession-duties-item-last {
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.university {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #eb650c;
    margin: 21px 0px 12px 0px;
} 

.study-field {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 6px;
}

.study-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.study-divider {
    color: black;
    margin: 0px 8px;
}
